html {
  max-width: 900px;
  width: 100%;
  margin: 1rem auto;
}

body {
  background-color: #181818;
  text-align: left;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: white;
}

h1 {
  text-align: left;
  font-weight: normal;
  font-size: 1.4rem;
}

h2 {
  text-align: left;
  font-weight: normal;
  font-size: 1.2rem;
}


a:link, a:visited, a:active {
  color: #C9C9C9;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

ul, ol {
  padding-left: 1em;
}

ul li, ol li {
  margin-bottom: 1em;
}

dt, dd {
  padding-bottom: 0.2rem;
}

dt {
  float: left;
  clear: left;
  text-align: right;
}

dd {
  padding-left: 5rem;
}

#portrait {
  float: right;
  width: 200;
  margin-top: 0rem;
  margin-left: 3rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  color: #333333;
}

@media (max-width: 480px) {
  #portrait {
    float: none;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}
